<p>
  There are <%= @users.size %> users signed up
</p>
<table class="bordered">
  <tr>
    <th>Username</th>
    <th>Created at</th>
    <th>Email</th>
  </tr>
<% for user in @users -%>
  <tr>
    <td><%= admin_link_user(user) %></td>
    <td nowrap><%= format_date(user.created_at,true) %></td>
    <td><%= user.email %></td>
  </tr>
<% end -%>
</table>